<!--<ul>
    <li>
        <a ui-sref=".dashboard">Dashboard</a>
    </li>
</ul>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            <p>
                Search:
                <input ng-model="$ctrl.searchText" />
            </p>

            <p>
                Sort by:
                <select ng-model="$ctrl.sort">
            <option>relevance</option>
            <option >price</option>
          </select>
            </p>

        </div>

    </div>
</div>